/* CSS Document */

.about-us-header {
    min-height: 436px;
    width: 100%;
    /*padding-top: 95px;*/

    background: url(../img/about-us-image.jpg) no-repeat center;
}
.our-story_inner_box {
    text-align: center;
    margin: 82px auto 0 auto;
    padding-top: 25px;
}
.our-story-title {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    font-size: 72px;
    line-height: 72px;
    color: #fff;
    text-align: center;
    padding-top: 44px;
}
.our-story-content {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    font-weight: lighter;
    font-size: 21px;
    color: #fff;
    text-align: center;
}
.about-page-story {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 26px;
    color: #FFCC00;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}
/**********the team***************/

.team-member {
    margin-bottom: 50px;
    padding: 15px;
    text-align: center;
}
.team-member:hover {
    background: #eee;
}
.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}
.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}
.team-member p {
    margin-top: 0;
}
aside.clients img {
    margin: 50px auto;
}
ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #337ab7;
    /*#222;*/

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #428bca;
}
/* Flex Tile Styles

  8888888 8888888888  8 8888 8 8888         8 8888888888     d888888o.
        8 8888        8 8888 8 8888         8 8888         .`8888:' `88.
        8 8888        8 8888 8 8888         8 8888         8.`8888.   Y8
        8 8888        8 8888 8 8888         8 8888         `8.`8888.
        8 8888        8 8888 8 8888         8 888888888888  `8.`8888.
        8 8888        8 8888 8 8888         8 8888           `8.`8888.
        8 8888        8 8888 8 8888         8 8888            `8.`8888.
        8 8888        8 8888 8 8888         8 8888        8b   `8.`8888.
        8 8888        8 8888 8 8888         8 8888        `8b.  ;8.`8888
        8 8888        8 8888 8 888888888888 8 888888888888 `Y8888P ,88P'

*/

.tile {
    margin-bottom: 15px;
    padding: 15px;
    overflow: hidden;
    color: #fff;
}
.tile h1,
.tile h2,
.tile h3,
.tile h4,
.tile h5,
.tile h6 {
    margin: 0;
}
.tile h1 a,
.tile h2 a,
.tile h3 a,
.tile h4 a,
.tile h5 a,
.tile h6 a {
    color: #fff;
}
/* -- Circle Tiles */

.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}
.circle-tile-heading {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto -40px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #fff;
    transition: all ease-in-out .3s;
}
.circle-tile-heading .fa {
    line-height: 80px;
}
.circle-tile-content {
    padding-top: 50px;
}
.circle-tile-number {
    padding: 5px 0 15px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}
.circle-tile-description {
    text-transform: uppercase;
}
.circle-tile-footer {
    display: block;
    padding: 5px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    transition: all ease-in-out .3s;
}
.circle-tile-footer:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.2);
}
.circle-tile-heading.dark-blue:hover {
    background-color: #2e4154;
}
.circle-tile-heading.green:hover {
    background-color: #138f77;
}
.circle-tile-heading.orange:hover {
    background-color: #da8c10;
}
.circle-tile-heading.blue:hover {
    background-color: #2473a6;
}
.circle-tile-heading.red:hover {
    background-color: #cf4435;
}
.circle-tile-heading.purple:hover {
    background-color: #7f3d9b;
}
/* -- Time Widget Tile */

.tile-img {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}
.time-widget {
    margin-top: 5px;
    overflow: hidden;
    text-align: center;
    font-size: 1.75em;
}
.time-widget-heading {
    text-transform: uppercase;
    font-size: .5em;
    font-weight: 400;
}
/* -- These image backgrounds are set to change automatically depending on the time of day. */

.morning {
    background: url(../img/widget-bg-morning.jpg) center bottom no-repeat;
    background-size: cover;
}
.afternoon {
    background: url(../img/widget-bg-afternoon.jpg) center bottom no-repeat;
    background-size: cover;
}
.evening {
    background: url(../img/widget-bg-evening.jpg) center bottom no-repeat;
    background-size: cover;
}
.midnight {
    background: url(../img/widget-bg-midnight.jpg) center bottom no-repeat;
    background-size: cover;
}
@media(min-width:768px) {
    .tile {
        margin-bottom: 30px;
    }
    .circle-tile {
        margin-bottom: 30px;
    }
}
/* Helper Classes

  8 8888        8 8 8888888888   8 8888         8 888888888o   8 8888888888   8 888888888o.     d888888o.
  8 8888        8 8 8888         8 8888         8 8888    `88. 8 8888         8 8888    `88.  .`8888:' `88.
  8 8888        8 8 8888         8 8888         8 8888     `88 8 8888         8 8888     `88  8.`8888.   Y8
  8 8888        8 8 8888         8 8888         8 8888     ,88 8 8888         8 8888     ,88  `8.`8888.
  8 8888        8 8 888888888888 8 8888         8 8888.   ,88' 8 888888888888 8 8888.   ,88'   `8.`8888.
  8 8888        8 8 8888         8 8888         8 888888888P'  8 8888         8 888888888P'     `8.`8888.
  8 8888888888888 8 8888         8 8888         8 8888         8 8888         8 8888`8b          `8.`8888.
  8 8888        8 8 8888         8 8888         8 8888         8 8888         8 8888 `8b.    8b   `8.`8888.
  8 8888        8 8 8888         8 8888         8 8888         8 8888         8 8888   `8b.  `8b.  ;8.`8888
  8 8888        8 8 888888888888 8 888888888888 8 8888         8 888888888888 8 8888     `88. `Y8888P ,88P'

*/
/* -- Background Helper Classes */
/* Use these to cuztomize the background color of a div. These are used along with tiles, or any other div you want to customize. */

.dark-blue {
    background-color: #34495e;
}
.green {
    background-color: #16a085;
}
.blue {
    background-color: #2980b9;
}
.orange {
    background-color: #f39c12;
}
.red {
    background-color: #e74c3c;
}
.purple {
    background-color: #8e44ad;
}
.dark-gray {
    background-color: #7f8c8d;
}
.gray {
    background-color: #95a5a6;
}
.light-gray {
    background-color: #bdc3c7;
}
.yellow {
    background-color: #f1c40f;
}
/* -- Text Color Helper Classes */

.text-dark-blue {
    color: #34495e;
}
.text-green {
    color: #16a085;
}
.text-blue {
    color: #2980b9;
}
.text-orange {
    color: #f39c12;
}
.text-red {
    color: #e74c3c;
}
.text-purple {
    color: #8e44ad;
}
.text-faded {
    color: rgba(255, 255, 255, 0.7);
}
/* Fixed Height Dashboard Demo Styles */

.dash-demo-tile {
    height: 250px;
    text-align: center;
}
.dash-demo-tile h4 {
    text-align: left;
}
#morris-chart-dashboard {
    width: 100%;
    height: 240px;
}
/* Morris Chart Styles */

.morris-hover-point {
    color: #34495e !important;
}
.morris-hover-row-label {
    color: #34495e;
}
.morris-hover.morris-default-style {
    padding: 0 10px 5px;
    border: 0;
    border-radius: 5px;
}
/* Dashboard Map Demo */

.vmap {
    height: 250px;
}
@media(min-width:768px) {
    .vmap {
        height: 500px;
    }
}
/* Morris Chart Styles */

.morris-hover-point {
    color: #34495e !important;
}
.morris-hover-row-label {
    color: #34495e;
}
.morris-hover.morris-default-style {
    padding: 0 10px 5px;
    border: 0;
    border-radius: 5px;
}
/* Flot Chart Styles */

.flot-chart {
    display: block;
    height: 200px;
}
.flot-chart-content {
    width: 100%;
    height: 100%;
}
.flot-chart-dashboard {
    height: 240px;
}
.fc-green,
.fc-event {
    border-color: #15987e;
    color: #fff;
    background-color: #16a085;
}
.fc-orange {
    border-color: #e79411;
    color: #fff;
    background-color: #f39c12;
}
.fc-blue {
    border-color: #2779b0;
    color: #fff;
    background-color: #2980b9;
}
.fc-red {
    border-color: #db4839;
    color: #fff;
    background-color: #e74c3c;
}
.fc-purple {
    border-color: #8741a4;
    color: #fff;
    background-color: #8e44ad;
}
.fc-default {
    border-color: #314559;
    color: #fff;
    background-color: #34495e;
}
.fc-white {
    border-color: #cccccc;
    color: #333333;
    background-color: #ffffff;
}
.fc-header-title h2 {
    font-size: 1.5em;
}
/****************upload section*********************/
/*#progress { position:relative; width:100%; border: 1px solid #ddd; padding: 1px; border-radius: 3px; font-size: 70%;}
#bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
#percent { position:absolute; display:inline-block; top:3px; left:48%; }
*/

a.file_attch_btn {
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}
.section-simple-admin {
    padding-top: 30px;
    padding-bottom: 30px;
}
.main_container_admin {
    min-height: 570px;
}
.alert {
    margin-bottom: 15px !important;
}
/*.main_nav .list-group-item:first-child, .settings_nav .list-group-item:first-child{
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.main_nav .list-group-item:last-child, .settings_nav .list-group-item:last-child{
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}*/

.page-title {
    display: none;
}
.dataTables_wrapper>.row {
    padding-top: 15px;
    margin: 0;
}
.bootstrap-select.form-control.input-sm {
    height: 39px;
}
